
* {
	margin: 0;
	padding: 0;
	
}



#accordion{
	 width: 500px;
  	 margin: 50px auto;
}

h1 { 
	font-size: 300%;
	text-align: center;
	margin-bottom: .5em;
}

a {
  color: #1E90FF;
}

#faqsContainer{
	display:flex;
}
